dist/
.idea/
build/
Pipfile.lock
geckodriver.log
.profile
.profile-amz*
.profile-wm*
*_config.json
*.log
__pycache__/
*.py[cod]
*.pkl
.vscode/
/config/apprise_config.json
amazon_config.json
walmart_config.json